/* Style the tab */
.bloc-tabs {
    display: flex;
  }

  /* Style the buttons that are used to open the tab content */
  .tabs {

    padding: 15px;
    text-align: center;
    width: 47%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    color: black;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.274); */
    /* color:"red"; */
    /* box-sizing: content-box; */
    /* position: relative; */
    outline: none;
  }

  .tabs-active {

    padding: 15px;
    text-align: center;
    width: 47%;
    background: white;
    cursor: pointer;
    border-bottom: 1px solid darkblue;

    color: darkblue;

    
    /* box-sizing: content-box; */
    /* position: relative; */
    outline: none;
  }










  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  @media(max-width:500){
    .modal{
      height:"auto";
    }

  }

  